build
xcuserdata
local.properties
*.xcworkspace
*.iml
Pods
Podfile.lock
*.DS_Store
.idea/
.externalNativeBuild/
obj

# CMake related files.
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile

gradlew
gradlew.bat
.gradle/
.settings
.project
.classpath

# Jekyll
.classpath_site
.sass-cache
.jekyll-metadata
Gemfile.lock
_site
_posts
.cxx
.generated_headers
