<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ee.twitter">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ee.twitter.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver
            android:name=".TwitterShareReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_SUCCESS"/>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE"/>
                <action android:name="com.twitter.sdk.android.tweetcomposer.TWEET_COMPOSE_CANCEL"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.twitter.sdk.android.core.identity.OAuthActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false" />

        <service
            android:name="com.twitter.sdk.android.tweetcomposer.TweetUploadService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
