<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ee.notification">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <receiver android:name="com.ee.internal.NotificationReceiver"/>
<!--        <receiver android:name="com.senspark.android.notification.AlarmReceiver" />-->
    </application>
</manifest>